{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load bootstrap_pagination %}

{% block content %}
<br><br>
    <div class="card-box" style="background-color: white;">
    <section class="box-typical">
        <header class="box-typical-header">
            <div class="tbl-row">
                {% if has_house %}
                <div class="tbl-cell">
                    <form action="{% url "house" %}" method="GET">
                        <div class="{% if search_form.s.errors %}error{% endif %}">
                            <div class="form-control-wrapper">
                                <div class="input-group">
                                  {{ search_form.s }}
                                  <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">{% trans "Search" %}</button>
                                  </span>
                                </div>

                                {% if search_form.s.errors %}
                                <div class="form-tooltip-error">
                                    <ul>
                                        {% for error in search_form.s.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
                {% else %}
                <div class="tbl-cell">
                    <div class="alert alert-warning alert-border-left alert-close alert-dismissible fade in m-b-0">
                        <strong>{% trans "Warning" %}!</strong> {% trans "You don't have active users" %}
                    </div>
                </div>
                {% endif %}
            </div>
        </header>
        <br>
        <br>
        <div class="box-typical-body">
            {% if house %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>{% trans "Description" %}</th>
                            <th>{% trans "Address" %}</th>
                            <th>{% trans "City" %}</th>
                            <th>{% trans "Price" %}</th>
                            <th>{% trans "Photos" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in house %}
                        <tr>
                            <td>
                            {{ h.description }}
                            </td>
                            <td>
                            {{ h.address }}
                            </td>
                            <td>
                            {{ h.city }}
                            </td>
                            <td>
                            {{ h.price }}
                            </td>
                            <td>
                            <strong><a href="{% url "house" %}?search_house={{ h.description }}" data-toggle="tooltip" data-placement="bottom" title="{% trans 'Open photo' %}"><img src={{ h.photo.url }} style="width: 150px;"></a></strong>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <br>
            </div>
        </div>
    </section>
    </div>
    <br>
    {% if house %}
        {% bootstrap_paginate house range=10 %}
    {% endif %}

    {% block js %}
        {% if not search_found and has_house %}
        <script>
            jQuery(function($) {
                swal("{% trans "Search not found" %}", "{% trans "No results we're found for your search. You'll be redirect to previous page in 5 seconds." %}", "error")

                setInterval(function() {
                    window.history.back()
                    window.location.reload();
                }, 5000);
            });
        </script>
        {% endif %}
    {% endblock %}
{% endblock %}
